version: '3'

services:
  database:
    image: "postgres" # use latest official postgres version
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - database-data:/var/lib/postgresql/data/ # persist data even if container shuts down
    ports:
      - 5432:5432
  broker:
    image: redis
    ports:
      - 6379:6379

volumes:
  database-data: # named volumes can be managed easier using docker-compose
