[tool.poetry]
name = "udata-hydra"
version = "2.0.0.dev"
description = "Async crawler and parsing service for data.gouv.fr"
authors = ["Opendata Team <opendatateam@data.gouv.fr>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
pandas = "^1.3.3"
aiohttp = "^3.8.1"
asyncpg = "^0.27.0"
boto3 = "^1.21.21"
humanfriendly = "^10.0"
marshmallow = "^3.14.1"
minicli = "^0.5.0"
progressist = "^0.1.0"
python-magic = "^0.4.25 "
redis = "^4.1.4"
sentry-sdk = "^1.11.1"
aiocontextvars = "^0.2.2"
coloredlogs = "^15.0.1"
rq = "^1.11.1"
toml = "^0.10.2"
str2float = "^0.0.9"
str2bool = "^1.1"
sqlalchemy = "^1.4.46"
dateparser = "^1.1.7"
python-dateutil = "^2.8.2"
csv-detective = "^0.6.6.dev477"

[tool.poetry.group.dev.dependencies]
flake8-quotes = "^3.3.1"
flake8 = "^4.0.1"
gunicorn = "^20.1.0"
aiohttp-devtools = "^1.0.post0"
aioresponses = "^0.7.3"
nest_asyncio = "^1.5.5"
pytest = "^7.1.1"
pytest-mock = "^3.7.0"
pytest-asyncio = "^0.18.3"
bumpr = "^0.3.8"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_mode = "strict"
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
    "catalog_harvested: use catalog_harvested.csv as source",
]

[tool.poetry.scripts]
udata-hydra = "udata_hydra.cli:run"
udata-hydra-crawl = "udata_hydra.crawl:run"
udata-hydra-app = "udata_hydra.app:run"
