agate==1.6.3
aiohttp==3.8.1
asyncpg==0.25.0
boto3==1.21.21
celery==5.2.3
click==8.0.4
flake8==4.0.1
flit==3.6.0
gunicorn==20.1.0
humanfriendly==10.0
kafka-python==2.0.2
marshmallow==3.14.1
minicli==0.5.0
progressist==0.1.0
psycopg2-binary==2.9.3
pytest==7.1.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-magic==0.4.25 
redis==4.1.4
requests-mock==1.9.3
requests==2.27.1
tabulate==0.8.9
udata_event_service==0.0.8